<html>
    <head>

    </head>
    <body>
        <div id="app">
        <ul>
            <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:todolist="todo.todolist">{{ todos }}</li>
        </ul>
        <div id="app">
        <form v-on:submit.prevent="Tambah">
        <input type="text" class="form-control" v-model="newTodoTeks" id="new-todo" @keyup.enter="addNewTodo" >
        <button @click="tambah()">Tambahkan</button>
    <h1 v-if="todos.length >= 4">Hebat!</h1>
</div>
<script src="https://unpkg.com/vue@3"></script>
        <script>
         new Vue({
  el: '#app',
  data: {
    newTodoTeks: '',
    todos: [
      {
        id: 1,
        todolist: 'Do the dishes',
      },
      {
        id: 2,
        todolist: 'Take out the trash',
      },
      {
        id: 3,
        todolist: 'Mow the lawn'
      }
    ],
    nextTodoId: 4
            },
              methods: {
                  tambah() {
                          this.todos.push({
                              id: this.todoid++,
                              todolist:this.newtodoteks
                          });
                          this.newtodoteks = "";
                      }
                  },
            }
          
            ).mount('#app')
        </script>
    </body>
</html>

